<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings><!-- 언더바를 없애고 camlecase로 바꾸는 방법 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases><!-- typeAlias를 사용하는 방법 -->
		<typeAlias type="com.sp.bdi.user.UserVO" alias="user" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/mapper/user-info.xml" />
	</mappers>
</configuration>